<%= form_for @student do |form| %>
<p>
	<%=form.label :first_name%>
	<%=form.text_field :first_name%>
</p>
	<p>
	<%=form.label :last_name%>
	<%=form.text_field :last_name%>
	</p>
</br>
	<%=form.submit%>
<%end%>